body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    border-left: solid rgba(13, 16, 37, 0.541);
    border-right: solid rgba(13, 16, 37, 0.541);
    background-color: rgb(7, 7, 27);
}

h1 {
    font-size: 5em;
    color:aliceblue;
    text-align: center;
}

p {
    color:rgba(240, 248, 255, 0.671);
    font-size: 1.7em;
    width: 20em;
    padding-left: 4em;
}

h2 {
    
        text-align: center;
        font-size: 30px;
        color: rgb(255, 255, 255);
    
}

a {
    color:rgb(148, 148, 148);
    text-decoration:none;
}

a:hover, a:focus  {
    color:gold;
    background-color: rgba(61, 60, 61, 0.336);
}

td {
    border-left:solid 1px;
    
}
#about1{
    border-right: solid 1px;
}

table {
    text-align:center;
    
    padding-left: 20em;
    padding-right: 17em;
    background-color: rgba(40, 39, 41, 0.425);
}

.w {
    color:aliceblue
}

#pic {
    color:rgba(255, 255, 255, 0.801)
}